body {
    background-image: $site-primary-gradient;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;

}

// .body-container {
   

// }

main {
    width: 90%;
    max-width: 1060px;
    margin: auto;

}