$screen-sm-min: 48em;




$site-primary: #17223b;
$site-secondary: #263859;
$site-ternary: #6b778d;
$site-accent: #ff6768;

$site-primary-gradient: linear-gradient(-30deg, $site-primary 38%, $site-secondary 60%);
$site-content-bg: #f2eee5;
