$screen-sm-min: 52.5em;




$site-primary: #17223b;
$site-secondary: #263859;
$site-tertiary: #6b778d;
$site-accent: #ff6768;

$site-primary-gradient: linear-gradient(-30deg, $site-primary 38%, $site-secondary 60%);
$site-content-bg: #f2eee5;


$site-underwater-bg: 'https://lh3.googleusercontent.com/l1g4wMpZjHPIHB1KORrn7x7_ERcVHQOPiRlQDLaNsSzixZyRegdVdxIRuhg9QjIluk7Gkg2gEcV0inZtmltWtCC-Sjj7b--L5wHzMzRvVVPznMwsKZ6tEmP5ecxJE3thEe27SWmX=w2400'