.about {
    width: 90%;
    max-width: 60em;
    margin: auto;
    color: $site-primary-text;
    text-align: center;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    &__content {
        @include site-text-style;
        margin-bottom: 1rem;

        a {
            color: $site-primary-text;

            &:hover,
            &:focus {
                color: $site-accent;
            }
        }

    }

}