.contact {
    padding: 1rem;
    width: 90%;
    max-width: 60em;
    margin: auto;
    color: $site-primary-text;
    
  

    &__title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    &__label {
        display: block;
        margin-bottom: 1rem;
    }

    &__input {
        .input-decorator {
            padding: .5rem;
            border: 2px solid black;
            border-radius: 5px;
            background: white;
            margin-bottom: 1rem;

            &:focus-within {
                border: 5px solid $site-accent;
            }

        }
    }

    input,
    textarea {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        font-size: 1.2rem;

    }

    input {
        height: 2rem;
    }

    textarea {
        height: 5rem;
    }

}

.contact-submission {
    &__icon {
    display: block;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    }

    &__message {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    }

    &__button {
        text-align: center;
    }
}

@media(min-width: $screen-sm-min) {
    .contact {
        

        &__form {
            display: grid;
            column-gap: 3rem;
            grid-template-areas:
                "firstName phone"
                "email email"
                "message message"
                ". button";


        }

        &__input {

            &:nth-child(1) {
                grid-area: firstName;
            }

            &:nth-child(2) {
                grid-area: phone;
            }

            &:nth-child(3) {
                grid-area: email;
            }

            &:nth-child(4) {
                grid-area: message;
            }

            &:nth-child(5) {
                grid-area: button;
                justify-self: stretch;

                
            }
        }
    }
}