.about-me {


    &__main {
        background-color: $site-content-bg;
        padding: 1rem;
        border-radius: 5px;
    }

    &__content {
        @include site-text-style;
    }

    .floating-emoji {
        display: none;
    }
}

@media(min-width: $screen-sm-min) {
    .about-me {

        &__content {
            font-size: 1.3rem;
        }
        &__main {
            margin-top: 2rem;
        }

        

        .floating-emoji {
            display: block;
            text-align: center;
            
            .emoji-hand {
                font-size: 6rem;
                animation: wavingEmojiHand 3s infinite ease;
                display: block;

            }
        }


    }
}

@keyframes wavingEmojiHand {
    0% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }

    50% {
        transform: rotate(33deg);
        transform-origin: bottom;

    }

    100% {
        transform: rotate(0deg);
        transform-origin: bottom;

    }
}



.tech {
    //   clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
    background: url('https://lh3.googleusercontent.com/wuNJbZTJ2tzi2m7749x2q-dn77nhLXmuB9bMu_sQdVrYevVzwejvWQFpKxGXSsOWZufh_yjLRYH3ssqrMG-fPPAtpL4b7iiQjkEARUiY2XgkMoiQMVh6AvobdiEgHFRNICRcVfL_=w2400') 0 0 / 150px 150px, #f0decb;
    //   background-size: 200px 200px, cover; 
}