.about-me {
    background-color: $site-content-bg;
    padding: 1rem;
    border-radius: 5px;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    &__content {
        @include site-text-style;
    }
    .floating-emoji {
        display: none;
    }
}

@media(min-width: $screen-sm-min) {
    .about-me {
        position: relative;

        &__content{
            font-size: 2rem;
        }

        .floating-emoji {
            display: block;
            position: absolute;
            left: -20%;
            top: 50%;
            
            .emoji {
                font-size: 7rem;
                position: absolute;
            }
            .emoji-hand {
                font-size: 6rem;
                left: -43px;
                top: -66px;
                animation: wavingEmojiHand 3s infinite ease;

            }
        }

        
    }
}

@keyframes wavingEmojiHand {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



.tech {
    //   clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
    background: url('https://lh3.googleusercontent.com/wuNJbZTJ2tzi2m7749x2q-dn77nhLXmuB9bMu_sQdVrYevVzwejvWQFpKxGXSsOWZufh_yjLRYH3ssqrMG-fPPAtpL4b7iiQjkEARUiY2XgkMoiQMVh6AvobdiEgHFRNICRcVfL_=w2400') 0 0 / 150px 150px, #f0decb;
    //   background-size: 200px 200px, cover; 
}