.home {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
    text-align: center;

    &__heading {

        .title {
            color: $site-primary-text;
            font-size: 3rem;
            line-height: 1.2;

        }

        .job-title {
            display: block;
            font-size: 1.3rem;

        }
    }


    

    &__content {
        @include site-text-style;
    }

}

@media(min-width: $screen-sm-min) {
    .home {

        &__content {
            font-size: 1.3rem;
        }

        &__main {
            margin-top: 2rem;
        }

    }
}




.tech {
    //   clip-path: polygon(0% 0%,100% 3.49vw,100% 100%,0% 100%);
    background: url('https://lh3.googleusercontent.com/wuNJbZTJ2tzi2m7749x2q-dn77nhLXmuB9bMu_sQdVrYevVzwejvWQFpKxGXSsOWZufh_yjLRYH3ssqrMG-fPPAtpL4b7iiQjkEARUiY2XgkMoiQMVh6AvobdiEgHFRNICRcVfL_=w2400') 0 0 / 150px 150px, #f0decb;
    //   background-size: 200px 200px, cover; 
}