.work {
    width: 80%;
    max-width: 60em;
    margin: auto;
    color: $site-primary-text;

    &__title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .work-mobile-slider {
        @include site-text-style;

        &__slick {

            .work-mobile-slider__container {
                .title {
                    text-align: center;
                    display: block;
                    margin-bottom: 1rem;
                }

                .media {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
                }

                .description {
                    margin-bottom: 1rem;

                    &__heading {
                        text-align: center;
                        display: block;
                        font-weight: 600;
                    }
                }

                .tech-stack {
                    margin-bottom: 1rem;

                    &__heading {
                        text-align: center;
                        display: block;
                        font-weight: 600;
                    }

                    &__group {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    &__item {
                        padding-right: 1rem;
                    }
                }

                .title {
                    font-weight: 600;
                }

                .buttons {
                    display: flex;
                    justify-content: space-around;

                    a {
                        text-decoration: none;
                        color: $site-primary-text;
                    }
                }
            }
        }
    }

}


@media(min-width: $screen-sm-min) {

    .work {

        .work-mobile-slider {
            display: none;
        }

        &__container {
            display: flex;

            .projects {
                flex: 1;
            }

            .work__view {
                flex: 3;

                .work__content {
                    display: flex;
                    justify-content: space-between;

                    .work__details {
                        .buttons {
                            display: flex;
                            justify-content: space-around;
                        }
                        button {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}