.work {
    width: 80%;
    max-width: 60em;
    margin: auto;
    color: $site-primary-text;

    &__title {
        margin-bottom: 3rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .work-mobile {
        @include site-text-style;

        .back-to-top {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            cursor: pointer;
           
            &.is-scrolled {
                display: block;
            }
        }

        .work-mobile__item {
            margin-bottom: 2rem;
            padding-bottom: 2rem;

            &:not(:last-child) {

                border-bottom: 1px solid white;
            }

            .title {
                text-align: center;
                display: block;
                margin-bottom: 1rem;
            }

            .media {
               
                margin-bottom: 1rem;

                &__image {
                    border: 2px solid white;
                    border-radius: 5px;
                }
                margin-bottom: 2rem;
            }

            .description {
                margin-bottom: 1rem;

                &__heading {
                    text-align: center;
                    display: block;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                &__content {
                    text-align: center;
                    margin-bottom: 2rem;

                }
            }

            .tech-stack {
                margin-bottom: 1rem;

                &__heading {
                    text-align: center;
                    display: block;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                &__group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-bottom: 2rem;

                }

                &__item {
                    padding-right: 1rem;
                }
            }

            .title {
                font-weight: 600;
            }

            .buttons {
                display: flex;
                justify-content: space-around;

                a {
                    text-decoration: none;
                    color: $site-primary-text;
                }
            }

        }
    }

    &__container {
        display: none;
    }

}


@media(min-width: $screen-sm-min) {

    .work {
        width: 90%;
        max-width: 76em;

        &__title {
            margin-bottom: 1rem;
        }


        .work-mobile {
            display: none;
        }

        &__container {
            display: flex;
            justify-content: space-around;

            .projects {
                flex: 1;

                &__heading {
                    font-size: 1.3rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .work__names {
                    .work-item {
                        padding: .5rem;

                        &:hover {
                            transform: scale(1.1)
                        }

                        &.active {
                            button {
                                color: $site-accent;
                            }
                        }


                        button {
                            background: none;
                            border: none;
                            color: white;
                            cursor: pointer;

                        }
                    }
                }

            }

            .work__view {
                flex: 2;
                text-align: center;



                .work__content {

                    .technology, .description {
                        padding: 0 7rem;

                        &__heading {
                            font-size: 1.3rem;
                            font-weight: 600;
                            margin-bottom: 1rem;
                        }

                        .work__tech {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;

                            .work__item {
                                margin: 0 1.3rem .3rem 0; 
                            }
                        }
                    }

                    .description {
                        margin-bottom: 2rem;

                        &__content {
                            line-height: 1.3;
                        }

                    }

                    .work__details {
                        flex: 1;

                        .current-work__title {
                            font-size: 1.3rem;
                            font-weight: 600;
                            display: block;
                            margin-bottom: 1rem;
                        }

                        .media {
                            margin-bottom: 2rem;

                            &__wrapper {
                                position: relative;
                                width: 27em;
                                margin: auto;

                                &:hover {

                                    .media__image {
                                        opacity: .3;
                                    }

                                    .buttons {
                                        opacity: 1;
                                        visibility: visible;
                                        pointer-events: initial;

                                    }

                                }



                                .buttons {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    display: flex;
                                    justify-content: space-around;
                                    opacity: 0;
                                    visibility: none;
                                    pointer-events: none;
                                    transition: opacity .5s ease;
                                    width: 100%;
                                    transform: translateX(-50%);

                                }
                            }

                            &__image {
                                border: 2px solid white;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }

                        button {
                            display: block;

                            a {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}