.nav--main-nav {
    display: none;
}



.nav--mobile-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $site-primary-gradient;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.nav--mobile-nav.nav-is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

.nav--mobile-nav::before {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    left: 0;
    background: $site-content-bg;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.nav--mobile-nav.nav-is-open::before {
    transform: skew(-14deg) translateX(0);

}



.nav--mobile-nav.nav-is-open .link {
    opacity: 1;
    transform: translateY(0);
}

.nav--mobile-nav__group {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(45%) skew(-16deg);
}

.nav--mobile-nav__item {
    display: block;
    padding: 2rem;
    text-align: right;
    transform: skew(16deg);
}

.nav--mobile-nav .link {
    opacity: 0;
    transform: translateY(-10px);
}

.nav--mobile-nav.nav-is-open .link {
    opacity: 1;
    transform: translateY(0);
}


.nav--mobile-nav .nav--mobile-nav__item:nth-child(1) .link {
    transition: all 275ms 175ms
}

.nav--mobile-nav .nav--mobile-nav__item:nth-child(2) .link {
    transition: all 275ms 225ms
}

.nav--mobile-nav .nav--mobile-nav__item:nth-child(3) .link {
    transition: all 275ms 275ms
}

.nav--mobile-nav .nav--mobile-nav__item:nth-child(4) .link {
    transition: all 275ms 325ms
}



.nav--mobile-nav .link {
    display: block;
    padding: 12px 0;
    color: $site-secondary;
    font-size: 2.4em;
    text-decoration: none;
    font-weight: bold;

    &:after {
        content: '';
        position: absolute;
        border-bottom: 5px solid $site-accent;
        bottom: 0;
        left: 0;
        right: 100%;
        transition: all 500ms;
    }

    &:hover:after {
        right: 0;
    }
}


.mobile-nav-btn {
    position: absolute;
    top: 3rem;
    // padding-top: 20px;
    right: 0;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    .burger {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: $site-accent;
        transform: skew(5deg);
        transition: all .275s;

        &:after,
        &:before {
            content: '';
            display: block;
            height: 100%;
            background: $site-accent;
            transition: all .275s;
        }

        &:after {
            transform: translateY(-12px) translateX(-2px) skew(-20deg);
        }

        &:before {
            transform: translateY(-16px) skew(-10deg);
        }

    }

    &.nav-mobile--is-open {
        .burger {
            transform: skew(5deg) translateY(-8px) rotate(-45deg);

            &:before {
                transform: translateY(0px) skew(-10deg) rotate(75deg);
            }

            &:after {
                transform: translateY(-12px) translateX(10px) skew(-20deg);
                opacity: 0;
            }
        }

    }

    .burger-text {
        display: block;
        font-size: .675rem;
        letter-spacing: .05em;
        margin-top: .5em;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: $site-accent;
    }
}


.header {
    width: 90%;
    margin: 2rem auto 5rem;

    &__logo {
        display: block;
        text-decoration: none;

        &:hover {

            .header__title,
            .header__subtitles {

                color: $site-accent;

            }
        }
    }


    &__title {
        display: block;
        font-size: 3rem;
        color: $site-ternary;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    &__subtitles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.3rem;
        color: $site-ternary;
    }

}

/******************************** MEDIA QUERY ************************************/

@media(min-width: $screen-sm-min) {

    .header {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        &__logo {
            margin-right: auto;
            flex: 1;

            .header__title {
                font-size: 4rem;
            }

            .header__subtitles {
                font-size: 1.5rem;
            }
        }

        .nav--main-nav {
            display: block;
            flex: 1;
        }

        .mobile-nav-btn {
            display: none;
        }

        .nav {
            &__group {
                display: flex;
                justify-content: flex-end;

            }

            &__item {
                padding: 1rem;
                margin-left: 2rem;

                .link {
                    color: $site-ternary;
                    text-decoration: none;
                    font-size: 1.7rem;
                    position: relative;
                    padding-bottom: .6rem;

                    &:after {
                        content: '';
                        position: absolute;
                        border-bottom: 3px solid $site-accent;
                        bottom: 0;
                        left: 0;
                        right: 100%;
                        transition: all 500ms;
                    }

                    &:hover:after {
                        right: 0;
                    }

                }
            }

            &.nav--main-nav {
                display: block;
            }


        }
    }
}